h1{
    color: rgb(99, 99, 99); 
    font-size: 2.7em; 
    text-align: left; 
    padding-left: 20%;
    padding-top: 15%; 
    padding-bottom: 2%;
}
.form_div{
    position: center;
    display:block;
    padding-top:5px; 
    padding-left: 20%;
}
.user_prompt{
    font-size: 1em; 
    padding-bottom: 2em;
}


#messageLbl{
    font-size: 1em; 
    margin-left: 20%;
    padding-bottom:2em; 
    padding-top: 1%;
}

footer{
    position: relative; 
    display:block;
    padding-top:5px; 
    padding-left: 20%;
}