.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 0.5%;
    text-align: center;
    display: inline-block;
    font-size: 100%;
    margin: 1%;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 1%;
  }
  .button2 {
    background-color: white; 
    color: rgb(252, 252, 252); 
    border:  solid #042a7a;
    padding:1%;
  }
  
  .button2:hover {
    background-color: #042a7a;
    color: white;
  }

  .nav {
    border-width:1px 0;
    list-style:none;
    text-align:center;
  }
  
  .nav li{
    display:inline;
  }
  
  .nav a{
    display:inline-block;
    padding:10px;
  }
  h2{
    color:#042a7a;
    margin-top: 5%;
    font-size: 3em;
    font-family: sans-serif;

  }
 