{% extends "base_generic.html" %}

{% load static %}


{% block content %}
 




<body>
  <style>
  .nav{
    
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
  </style>
   
 <h1 style="font-size: xx-large; text-align: center;">Welcome to the Test Bookstore</h1>
  <ul class="nav" style="position: relative;;">
    <button><a href="{% url 'index' %}">Search Books</a></button>
    <button><a href="{% url 'onixfile' %}">Onix File Management</a></button>
    
  </ul>
</body>   
{% endblock %}