{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'onix_file_style.css' %}">  
<body>
 <h1 style = "color: #042a7a; font-size: 3em; font-family: sans-serif;" >Onix File Management</h1>
  <ul class="nav" style="position: relative;;">
    <button><a href="{% url 'simple_upload' %}">Upload Onix Files</a></button>
    <button><a href="{% url 'process' %}">Process Onix Files</a></button>
    
  </ul>
</body>   
{% endblock %}