{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
<h1 style="color: rgb(99, 99, 99); font-size: xx-large; text-align: left; padding-left: 20%;padding-top: 5%;">Process Onix</h1>



<div style="position: center;; display:block;padding-top:5px; padding-left: 20%;">
  <p style="font-size: large; padding-bottom:5px;">Click process to parse the most recent Onix File</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- <input type="file" name="myfile"> -->
    <button type="submit" style="padding-top:5px;padding-top:5px;padding: 16px;" onclick="onProcess()" >Process</button>
  </form>
</div>
  


<p style="font-size: large; padding-left: 20%; padding-bottom:5px; color:{{color}};" id="messageLbl">{{message}}</p>
 



 <footer style="position: relative; display:block;padding-top:5px; padding-left: 20%;">
   
  <div><p><a href="{% url 'index' %}">Return to home</a></p></div>

</footer> 

  
{% endblock %}