{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<body>
<style>
  .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 0.5%;
  text-align: center;
  display: inline-block;
  font-size: 100%;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: rgb(252, 252, 252); 
  border:  solid #042a7a;
}

.button2:hover {
  background-color: #042a7a;
  color: white;
}

.nav {
  margin-top: 1%;
    border-width:1px 0;
    list-style:none;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

</style>

<link rel="stylesheet" type="text/css" href="{% static 'detail_style.css' %}">
<div class = "nav" style="padding-top: 2;">
  <form style="width: 100%" action="{% url 'search' %}" method="get" >
      <input  style = "border-bottom-color: dimgrey;" name= "s_bar" type="text" placeholder="Search..." size="75%" >
      <input type="submit" value="Search">
  </form>
  <h2 style="color: #042a7a;margin-top: 5%;">Search Results</h2 >
    <div class="col-sm-10 text-right">

      {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
      {% endif %}
      </div>  
</div>
  <ul class="col-sm-10" style="border:1px solid #042a7a; width: 80%; margin-top: 1%; margin-left: 10%; margin-bottom: 3%;" >

  {% for book in object_list %}
    <li>
      <button class="button button2" ><a href="{% url 'detail' book_id=book.id%}">Details</a></button> </span>
      <span> {{ book.title }} -  {{ book.subtitle }} by {{ book.authors }} &nbsp;
    </li>
  {% endfor %}
  </ul> 
  
<div class="col-sm-10 text-right">

{% if is_paginated %}
<div class="pagination ">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
</div>

</body>