{% extends "base_generic.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'detail_style.css' %}">

<form action="{% url 'search' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
  </form>

<h1 class = "searchhead">Search Results</h1>

<ul class = "nav">
  {% for book in object_list %}
    <li>
        <a href ="{% url 'detail' book_id=book.id%}"> {{ book.title }} -  {{ book.subtitle }} by {{ book.authors }}</a>
    </li>
  {% endfor %}
</ul>


  
{% endblock %}