{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<style>
  .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: rgb(252, 252, 252); 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


</style>
<link rel="stylesheet" type="text/css" href="{% static 'detail_style.css' %}">

  <form style="width: 50%;" action="{% url 'search' %}" method="get" >
      <input  name= "q" type="text" placeholder="Search..." size="75">
      <input type="submit" value="Search">
  </form>

<ul class = "nav" style="border:1px solid #042a7a;">
  {% for book in object_list %}
    <li>
        <span> {{ book.title }} -  {{ book.subtitle }} by {{ book.authors }} &nbsp; </span>
        
        
        <button class="button button2" style="display:inline-block; vertical-align: baseline;"><a href="{% url 'detail' book_id=book.id%}">Details</a></button>
      
    </li>
  {% endfor %}
</ul>

</div>

  
{% endblock %}