{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
<h1 style="color: rgb(99, 99, 99); font-size: xx-large; text-align: left; padding-left: 20%;padding-top: 5%;">Upload Onix</h1>



<div style=" font-size: large;position: relative;; display:block;padding-top:5px; padding-left: 20%;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" type="submit" style="padding-top:2%; padding-bottom: 2%"name="myfile" required>
    <button type="submit">Upload</button>
  </form>
</div>
  

  {% if uploaded_file_url %}
    <p style="font-size: large; padding-bottom:5px; padding-left: 20%;">File uploaded at: {{ uploaded_file_url }}</p>
  {% endif %}




 <footer style="position: relative; display:block;padding-top:5px; padding-left: 20%;">
   
  <div><p style = "padding-top: 1%;" ><a href="{% url 'process' %}" >Process Onix File</a></p></div>

</footer> 

  
{% endblock %}