{% extends 'base_generic.html' %}

{% load static %}

{% block content %}

<h1>Upload Onix</h1>

<link rel="stylesheet" type="text/css" href="{% static 'upload_style.css' %}">

<div class = "form_div"></div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" type="submit" class = "fileSub" name="myfile" required>
    <button id = 'up_btn' type="submit">Upload</button>
  </form>
</div>
  
  {% if uploaded_file_url %}
    <p class = "confirm_msg">File uploaded at: {{ uploaded_file_url }}</p>
  {% endif %}
 <footer>
  
 <p style = "padding-top: 1%;" ><a href="{% url 'process' %}" >Process Onix File</a></p>

</footer> 

  
{% endblock %}