{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'company_list_style.css' %}">

    <h1> Activity </h1>

    {% if group_list %}
        <ul>
            <label for="company">Company Name:</label>
                <select id="company">                
                    {% for group in group_list %}
                        {% if group.name != 'Company Contact' %}
                            <option value="x">
                                {{ group.name }}
                            </option>    
                        {% endif %}
                    {% endfor %}
                </select>
        </ul>
    

        <h3>Queries Count</h3>

        <label for="filter">Filter by: </label>
        <select id="filter">
            <option value="Day">Day</option>
            <option value="Week">Week</option>
            <option value="Month">Month</option>
            <option value="Year">Year</option>
        </select>
    
        {% if user_list %}
            
            <table>
                <tr>
                    <th>Name</th>
                    <th>Queries Made</th>
                    
                </tr>
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No Users</p>
        {% endif %}

    {% else %}
        <p>No group are available.</p>
    {% endif %}

{% endblock %}
