{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'activity_style.css' %}">

    <h1> Activity </h1>
    
    {% if companies_report %}
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}<button type="submit" >Apply</button> 
        
    </form>
    <p style="font-size:24px; text-align:center;">{{time_range }}</p>
    
    {% for company_report in companies_report %}
        <ul>
            
            <label for="company">Company Name:</label> {{ company_report.company_name }}
                     
                
            
        </ul>

      

       
            
            <table>
                <tr>
                    <th>Name</th>
                    <th>Queries Made</th>
                    
                </tr>
                {% for user_r in company_report.user_reports %}
                    <tr>
                        <td>{{ user_r.user_fname }} {{ user_r.user_lname }}</td>
                        <td>{{ user_r.query_count }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ company_report.total_queries }}</td>
                </tr>
            </table>
        {% endfor %}
        {% else %}
        <p style="font-size:24px;">Group for user not found</p>
    {% endif %}

   


{% endblock %}
