{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'company_list_style.css' %}">
<style>
    table, th, td {
      border: 2px solid black;
    }
</style>
    <h1> Activity </h1>

    
        <ul>
            <label for="company">Company Name:</label> {{ group.name }}
                     
                
            
        </ul>
    

        <h3>Queries Count</h3>

        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }} 
            <button type="submit" >Apply</button>
        </form>

        
    
        {% if company_report.user_reports %}
            
            <table>
                <tr>
                    <th>Name</th>
                    <th>Queries Made</th>
                    
                </tr>
                {% for user_r in company_report.user_reports %}
                    <tr>
                        <td>{{ user_r.user_fname }} {{ user_r.user_lname }}</td>
                        <td>{{ user_r.query_count }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ company_report.total_queries }}</td>
                </tr>
            </table>
        {% else %}
            <p>No Report to show</p>
        {% endif %}

   


{% endblock %}
