{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'company_list_style.css' %}">

    <h1> Company List</h1>

    {% if group_list %}
        <ul>
        {% for group in group_list %}

                <li class = 'com_li'>{{ group.name }} <a href="edit/{{ group.id }}/" class = "clickable">Edit</a> </li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No group are available.</p>
    {% endif %}
    <p class = "adder"> <a href = "{% url 'company_add_form' %}">+ Add New Company</a></p>
{% endblock %}
