{% extends "base_generic.html" %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search_style.css' %}">
<body>
  <script src= 
"https://code.jquery.com/jquery-1.12.4.min.js"> 
    </script>
  <script src="{% static 'search_type_control.js' %}"></script>


<link rel="stylesheet" type="text/css" href="{% static 'search_style.css' %}">
<div class = "nav" style="padding-top: 0%;padding-left: 2%;">
   
  <div class = "container">
    <p>You can search by using either json or attributes entered in text box, but not both.</p><br>
    <div class = "row">
    <label> 
      <input type="radio" name="inputRadio" checked="checked"
             value="text"> Search by attribute</label> 
    </div>
  <div class = "row">
  <label> 
      <input type="radio" name="inputRadio" 
             value="json"> Search by Json</label> 
  </div>
  <form id= "textform" class = 'form-inline' onsubmit="callApi()">
    {% csrf_token %}
    <div class = "row">
    <div class = "col-25">
      <label for="s_bar1">Title:</label>
    </div>
    <div class = "col-75">
      <input  name= "title" class="text" type="text" size="75%" >
    </div>
    </div>
    <div class = "row">
    <div class = "col-25">
      <label for="s_bar2">Author:</label>
    </div>
    <div class = "col-75">
      <input  name= "authors"  class="text"  type="text"  size="75%" >
    </div>
    </div>
    <div class = "row">
      <div class = "col-25">
        <label for="s_bar1">ISBN:</label>
      </div>
      <div class = "col-75">
        <input  name= "isbn" class="text" type="text" size="75%" >
      </div>
      </div>
    <div class = "row">
    <input class="text" type="submit" value="Search" > 
    </div>
  </form>

  <form class = 'form-inline' id="jsonform" onsubmit="callApi()" >
    <div class= "row">
      <div class="col-25">
        <label>Json:</label>
      </div>
      <div class="col-75">
        <textarea class="json" id="myTextArea" cols=76 rows=15 placeholder="Search Json" ></textarea>
      </div>
    </div>
  <div class= "row">
    <input class="json" type="submit" value="Search"  style = "padding: 1%; bottom: 8px; right: 16px;">
  </div>  
    
</form>

</div>
    <h2>Search Results</h2 >
      <div class="col-sm-10 text-right">

        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        </div>
  </div>
    <ul class="col-sm-10" style="border:1px solid #042a7a; width: 80%; margin-left: 10%; margin-bottom: 3%;" >

    {% for book in object_list %}
      <li>
        <button class="button button2 text-right" ><a href="{{ book.book_url }}">Book Url</a></button> </span>
        <span> {{ book.book_title }} -  {{ book.subtitle }} by {{ book.authors|join:", " }} &nbsp;
      </li>
    {% endfor %}
    </ul> 
    
  <div class="col-sm-10 text-right">

  {% if is_paginated %}
  <div class="pagination pull ">
      <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
              <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
  {% endif %}



{% endblock %}

</div>

</body>