{% extends "base_generic.html" %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search_style.css' %}">
<body>
  <script src= 
"https://code.jquery.com/jquery-1.12.4.min.js"> 
    </script>
  <script src="{% static 'search_type_control.js' %}"></script>


<link rel="stylesheet" type="text/css" href="{% static 'search_style.css' %}">
<div class = "nav" style="padding-top: 0%;padding-left: 2%;">
   <h1>Search Books</h1>
  <div class = "container">
    <p>You can search by using either json or attributes entered in text box, but not both.</p><br>
    <div class = "row">
    <label> 
      <input type="radio" name="inputRadio" checked="checked"
             value="text"> Search by attribute</label> 
    </div>
  <div class = "row">
  <label> 
      <input type="radio" name="inputRadio" 
             value="json"> Search by Json</label> 
  </div>
  {{ content.error }}

  <form name = "text" action="{% url 'search' %}" id= "textform" class = 'form-inline' onsubmit="return validateForm()" method="GET" >
    {% csrf_token %}
    <div class = "row">
    <div class = "col-25">
      <label for="s_bar1">Title:</label>
    </div>
    <div class = "col-75">
      <input  name= "title" class="text" type="text" size="75%" >
    </div>
    </div>
    <div class = "row">
    <div class = "col-25">
      <label for="s_bar2">Author:</label>
    </div>
    <div class = "col-75">
      <input  name= "authors"  class="text"  type="text"  size="75%" >
    </div>
    </div>
    <div class = "row">
      <div class = "col-25">
        <label for="s_bar1">ISBN:</label>
      </div>
      <div class = "col-75">
        <input  name= "isbn" class="text" type="text" size="75%" >
      </div>
      </div>
    <div class = "row">
      <input class="text" type="submit" value="Search" > 
    </div>
  </form>

  <form action="{% url 'search' %}"class = 'form-inline' id="jsonform" onsubmit="return validateForm()" method="POST" >
    {% csrf_token %}
    <div class= "row">
      <div class="col-25">
        <label>Json:</label>
      </div>
      <div class="col-75">
        <textarea name= "json" class="json" id="myTextArea" cols=76 rows=15 placeholder="Search Json" ></textarea>
      </div>
    </div>
  <div class= "row">
    <input class="json" type="submit" value="Search" > 
  </div>  
    
</form>
</div>

<div class = "container" style ="outline: 3px black solid;">
<h1 id="result head">Search Results</h1>
<p style = "padding-bottom: 4px; text-align: center;">Click result listing for more info</p>
<ul class="col-sm-10" style="border-top:1px solid #042a7a; width: 80%; margin-left: 10%; margin-bottom: 3%;" >
<div class="booksite">
  <h2 class="book head"> Scribd Books </h2>
  {% for book in books %}
  {% if book.site_slug == 'SC' %}      
        <li>
          <button class="button button2" name="drop" >Score: {{ book.score }}%  &nbsp  Title: {{ book.book_title }} &nbsp   
            by:   {{ book.authors|join:", " }} &nbsp ISBN: {{ book.isbn_13 }}  &nbsp  Available: {{ book.ready_for_sale }}</button>
          <span class="more"> Format: {{ book.format }} &nbsp Series: {{book.series}} &nbsp Volume: {{ book.volume }} &nbsp Parse status: {{book.parse_status}}</span>
        </li>
  
  {% endif %}
  {% endfor %}
</div>
  <div class="booksite">
  <h2 class="book head"> Google Books </h2>
  {% for book in books %}
  {% if book.site_slug == 'GB' %}
        <li>
          <button class="button button2" name="drop">Score: {{ book.score }}%  &nbsp  Title: {{ book.book_title }} &nbsp   
            by:   {{ book.authors|join:", " }} &nbsp ISBN: {{ book.isbn_13 }}  &nbsp  Available: {{ book.ready_for_sale }}</button>
          <span class="more"> Format: {{ book.format }} &nbsp Series: {{book.series}} &nbsp Volume: {{ book.volume }} &nbsp Parse status: {{book.parse_status}}</span>
        </li>
  
  {% endif %}
  {% endfor %}
</div>
  <div class="booksite">
  <h2 class="book head"> Kobo Books </h2>
  {% for book in books %}
  {% if book.site_slug == 'KO' %}
        <li>
          <button class="button button2" name="drop">Score: {{ book.score }}%  &nbsp  Title: {{ book.book_title }} &nbsp   
            by:   {{ book.authors|join:", " }} &nbsp ISBN: {{ book.isbn_13 }}  &nbsp  Available: {{ book.ready_for_sale }}</button>
          <span class="more"> Format: {{ book.format }} &nbsp Series: {{book.series}} &nbsp Volume: {{ book.volume }} &nbsp Parse status: {{book.parse_status}}</span>
        </li>
  
  {% endif %}
  {% endfor %}
</div>
  <div class="booksite">
  <h2 class="book head"> Test Bookstore Books </h2>
  {% for book in books %}
  {% if book.site_slug == 'TB' %}
        <li>
          <button class="button button2" name="drop">Score: {{ book.score }}%  &nbsp  Title: {{ book.book_title }} &nbsp   
            by:   {{ book.authors|join:", " }} &nbsp ISBN: {{ book.isbn_13 }}  &nbsp  Available: {{ book.ready_for_sale }}</button>
          <span class="more"> Format: {{ book.format }} &nbsp Series: {{book.series}} &nbsp Volume: {{ book.volume }} &nbsp Parse status: {{book.parse_status}}</span>
        </li>
  
  {% endif %}
  {% endfor %}
</div>
  <div class="booksite">
  <h2 class="book head"> Livraria Culture Books </h2>
  {% for book in books %}
  {% if book.site_slug == 'LC' %}
        <li>
          <button class="button button2" name="drop">Score: {{ book.score }}%  &nbsp  Title: {{ book.book_title }} &nbsp   
            by:   {{ book.authors|join:", " }} &nbsp ISBN: {{ book.isbn_13 }}  &nbsp  Available: {{ book.ready_for_sale }}</button>
          <span class="more"> Format: {{ book.format }} &nbsp Series: {{book.series}} &nbsp Volume: {{ book.volume }} &nbsp Parse status: {{book.parse_status}}</span>
        </li>
  
  {% endif %}
  {% endfor %}
</div>
  <div class="booksite">
  <h2 class="book head"> Audio Books </h2>
  {% for book in books %}
  {% if book.site_slug == 'AU' %}
        <li>
          <button class="button button2" name="drop">Score: {{ book.score }}%  &nbsp  Title: {{ book.book_title }} &nbsp   
            by:   {{ book.authors|join:", " }} &nbsp ISBN: {{ book.isbn_13 }}  &nbsp  Available: {{ book.ready_for_sale }}</button>
          <span class="more"> Format: {{ book.format }} &nbsp Series: {{book.series}} &nbsp Volume: {{ book.volume }}
             &nbsp Parse status: {{book.parse_status}} &nbsp URL: {{ book.url }}</span>
        </li>
  
  {% endif %}
{% endfor %}
</div>
</ul> 
      
{% endblock %}

</div>

</body>