{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_style.css' %}">
<body>
<style> /* NEED TO CREATE FOLDER WITH ALL CSS OF THE PROJECT.
    /* Style the form - display items horizontally */
.form-inline { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
/* Add some margins for each label */
.form-inline label {
  margin: 9px 50px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

</style>

<link rel="stylesheet" type="text/css" href="{% static 'search_style.css' %}">
<div class = "nav" style="padding-top: 0%;padding-left: 2%;">
  <p>Search Instructions:</p> 
  <p>Option1: Search by using the title, author, isbn, and book url.(No need to fill out all the fields)</p>
  <p>Option2: Search by using Json.</p>
  <p>You can search by using either option 1 or option2, but not both.</p><br>
  <form class = 'form-inline' action="{% url 'search' %}" method="get"  >
    <label for="s_bar1">Title:</label>
    <input  name= "s_bar1"type="text" size="75%" >
    <label for="s_bar2">Author:</label>
    <input  name= "s_bar2" type="text"  size="75%" >
    <label for="s_bar3">ISBN:</label>
    <input  name= "s_bar3"  type="text"  size="75%" >
    <label for="s_bar4">Book-Url:</label>
    <input  name= "s_bar4" type="text"  size="75%" >
    <input type="submit" value="Search">
  </form>

  <form class = 'search-json' action="{% url 'search' %}" method="get" >
    <textarea id="myTextArea" cols=30 rows=15 placeholder="Search Json"></textarea>
    <input type="submit" value="Search" style = "padding: 1%; font-size:1.3em;">
</form>

  <h2>Search Results</h2 >
    <div class="col-sm-10 text-right">

      {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
      {% endif %}
      </div>
</div>
  <ul class="col-sm-10" style="border:1px solid #042a7a; width: 80%; margin-left: 10%; margin-bottom: 3%;" >

  {% for book in object_list %}
    <li>
      <button class="button button2 text-right" ><a href="{% url 'detail' book_id=book.id%}">Details</a></button> </span>
      <span> {{ book.title }} -  {{ book.subtitle }} by {{ book.authors }} &nbsp;
    </li>
  {% endfor %}
  </ul> 
  
<div class="col-sm-10 text-right">

{% if is_paginated %}
<div class="pagination pull ">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?{{request.META.QUERY_STRING }}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
</div>

</body>