h1 {
    font-family: sans-serif, times;
    font-size: 2.8em; 
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2.5%;
    padding-bottom: 3%;
}

ol, ul {
    list-style: none;
    text-align: center;
    padding-top: 2%;
}

.com_li {
    margin-left: 9%;
    font-family: sans-serif, times;
    font-size: 1.8em;
    padding-bottom: 1%;

}


a{
    color: blue;
}


table {
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 60%;
    margin-top: 2%;
  }

td{
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  
th {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-weight: bold;
    text-align: center;
}
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}