h1 {
    font-family: sans-serif, times;
    font-size: 2.8em; 
    font-weight: bold;
    margin-left: 5%;
    margin-top: -2.5%;
    padding-bottom: 3%;
}

.com_li {
    margin-left: 9%;
    font-family: sans-serif, times;
    font-size: 1.8em;
    padding-bottom: 1%;

}

.adder{
    margin-left: 9%;
    font-family: sans-serif, times;
    font-size: 1.4em;
    padding-bottom: 1%;

}
a{
    color: blue;
}

.clickable{
    padding-left: 2%;
    font-size: .8em;

}